.reps-header {
    background-color: #558194;
}

.reps-header a {
    color: white;
}

.reps-header h1 {
    padding-left: 10px;
}

.detail-control {
    display: flex;
    flex-direction: row;
}

.detail-control a {
    flex: 1;
}

.content {
    padding: 0 15px 30px 15px;
}

a {
    color: #558194;
}
